/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-attachment:fixed;
    background-color: #ffffff;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    text-transform:uppercase;
    width:100%;
}

/* Portrait layout (default) */
.app {
    background:url(../img/logo.png) no-repeat center top; /* 170px x 200px */
    position:absolute;             /* position in the center of the screen */
    left:50%;
    top:50%;
    height:50px;                   /* text area height */
    width:225px;                   /* text area width */
    text-align:center;
    padding:180px 0px 0px 0px;     /* image height is 200px (bottom 20px are overlapped with text) */
    margin:-115px 0px 0px -112px;  /* offset vertical: half of image height and text area height */
                                   /* offset horizontal: half of text area width */
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}

h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}

/**********************************************************************************************************************************/


* {
  margin:0;
  padding: 0;
  text-transform: none;
}

header{
  background-color: #4285f4;
  height: 70px;
  color : #ffffff;
  position: fixed;
  width: 100%;
  top:0%;
  text-align: center;
}
header > h2{
  text-align: center;
  margin-top: 25px;
  display: inline-block;
}

footer{
  padding: 15px;
  color: white;
  background-color: #5491f5;
  text-align: center;
}
footer > a{
  color: white;
  font-weight: bold;
  text-decoration: underline;
}

li{
  
  list-style-type:none;
  padding: 15px;
  display: block;  
  text-decoration: none;
  color: black;
}

h3,h4,h5{
  font-weight: inherit;
}
h3{display: inline-block;}

li > h3{
  text-decoration: underline;
}
.calendar{
  cursor: pointer;
  text-decoration: underline;
  display: inline-block;
}
.share{
  text-decoration: underline;
  display: inline-block;
}
.contest_image{
  display: inline-block;
  float: right;
  margin: 5px;
}
.title{
  text-align: center;
  padding: 15px;
  background-color: #5491f5;
  color: #ffffff;
}
li:hover{
  background-color: #e0ebfd;
  font-weight: bold;
}
hr {
  border: none;
  height: 1px;
  color: #e0ebfd;
  background-color: #e0ebfd;
}
#ongoing{
  margin-top: 70px;
}

.loading{
  position: fixed;
  margin-top: 25px;
  left: 90%;
  height: 20px;
  width: 20px;
}
.info{
  position: fixed;
  margin-top: 25px;
  left: 80%;
  height: 20px;
  width: 20px; 
}