body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-attachment:fixed;
    background-color: #ffffff;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    text-transform:uppercase;
    width:100%;
}

* {
  margin:0;
  padding: 0;
  text-transform: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.ui-content{
  display: none;
}
header{
  background-color: #4285f4;
  height: 70px;
  color : #ffffff;
  position: fixed;
  width: 100%;
  top:0%;
  text-align: center;
}
header > h2{
  text-align: center;
  margin-top: 25px;
  display: inline-block;
}

footer{
  padding: 15px;
  color: white;
  background-color: #5491f5;
  text-align: center;
  display: none;
}
footer > a{
  padding-left: 5%;
  color: white;
  font-weight: bold;
  text-decoration: underline;
}

li{
  
  list-style-type:none;
  padding: 15px;
  display: block;  
  text-decoration: none;
  color: black;
}
li > *{
  margin-left: 5%;
}
li > h3{
  border-bottom: 1px solid #E2DEC9;
}
h3,h4,h5{
  font-weight: inherit;
}
h3{
  display: inline-block;
}
.calendar{
  cursor: pointer;
  text-decoration: underline;
  display: inline-block;
}
.share{
  text-decoration: underline;
  display: inline-block;
}
.contest_image{
  display: inline-block;
  float: right;
  margin: 5px;
}
.title{
  text-align: center;
  padding: 15px;
  background-color: #5491f5;
  color: #ffffff;
}
li:hover{
  background-color: #e0ebfd;
  font-weight: bold;
}
hr {
  border: none;
  height: 1px;
  color: #e0ebfd;
  background-color: #e0ebfd;
}
#ongoing{
  margin-top: 70px;
}

.loading{
  position: fixed;
  margin-top: 25px;
  left: 90%;
  height: 20px;
  width: 20px;
}
.info{
  position: fixed;
  margin-top: 25px;
  left: 15%;
  height: 20px;
  width: 20px; 
}
.settings-btn{
  position: fixed;
  margin-top: 25px;
  left: 5%;
  height: 22px;
  width: 22px; 
}
.share-btn{
  position: fixed;
  margin-top: 25px;
  left: 80%;
  height: 22px;
  width: 22px; 
}
.calDelete{
  color: #ff0000;
  display: inline;
  text-decoration: underline;
}
.calAdd{
  text-decoration: underline;  
  display: inline;
}
