* {
  margin:0;
  margin: 0;
}

body {
  min-height: 200px;
  min-width: 400px;
  background-color: #ffffff; 

}
header{
  background-color: #4285f4;
  height: 50px;
  color : #ffffff;
  position: fixed;
  width: 100%;
  top:0%;
}


.title{
  text-align: center;
  padding: 10px;
  background-color: #5491f5;
  color: #ffffff;
}

li{
  
  list-style-type:none;
  padding: 15px;
  display: block;
 
}

a{
  text-decoration: none;
}
a li:hover{
  background-color: #e0ebfd;/*#f4f4f4;*/
  font-weight: bold; 
}

hr {
    border: none;
    height: 1px;
    color: #e0ebfd;
    background-color: #e0ebfd;
}

h3,h4,h5{
  font-weight: normal;
}

header > h3{
  padding-top: 15px;
  text-align: center;
  font-weight: bold;
}

.calender{
  cursor: pointer;
  text-decoration: underline;
  display: inline;
}

img{
  display: inline-block;
  float: right;
  margin: 5px;
}
#ongoing{
  margin-top: 50px;
}